<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>

		<!-- 数据库配置 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///hibernate_base</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">jiqi511623</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	
		<!-- 是否显示在控制台显示sql语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- sql语句格式化 -->
		<property name="hibernate.format_sql">true</property>
		 
		<!-- 自动导出表结构 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- 事务隔离级别  -->
		<!-- #hibernate.connection.isolation 4 -->
		<property name="hibernate.connection.isolation">4</property>
		
		<!-- 指定session管理方式 -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<mapping resource="com/nmtx/hibernate/domain/Customer.hbm.xml" />
		<mapping resource="com/nmtx/hibernate/domain/LinkMan.hbm.xml" />
		
	</session-factory>

</hibernate-configuration>
	
	
 

 
 
 
	
